# Set Methods in Python | Python Tutorial - Day #32

SET AND IT'S OPERATIONS

Python Sets:
- Sets are used to store multiple items in a single variable.
- Set is one of built-in data types in Python used to store collections of data.
- A set is a collection which is unordered, unchangeable, and unindexed.
- Sets are written with curly brackets.
Set items are unordered, unchangeable, and do not allow duplicate values.
- Unordered means that the items in a set do not have a defined order.
- Set items can appear in a different order every time you use them, and cannot be referred 
to by index or key.
- Set items are unchangeable, meaning that we cannot change the items after the set has 
been created.
- Sets cannot have two items with the same value.
#
Remark: Set items are unchangeable, but you can remove items and add new items.

In [14]:
# Two forms of set construction

# 1. Using {} Method

set1 = {"Jayesh",877}
print(set1)

# 1. Using set() Method

set2 = set(("Magnus",777))
print(set2)

{877, 'Jayesh'}
{777, 'Magnus'}

In [3]:
# True/ False are considered 1/0 repectively.

set1 = {"Mango","Banana",True,1,False,0,877}
set1

{877, 'Banana', False, 'Mango', True}

In [8]:
# Set itself is a Datatype so type() = set

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

print(type(set1))
print(type(set2))
print(type(set3))

{'cherry', 'banana', 'apple'}
{1, 3, 5, 7, 9}
{False, True}
<class 'set'>
<class 'set'>
<class 'set'>

SET OPERATION TABLE :
#
| **S. No.** | **Method**               | **Description**                                                                            |
|------------|--------------------------|--------------------------------------------------------------------------------------------|
| 1          | `add()`                  | Adds an element to the set                                                                  |
| 2          | `clear()`                | Removes all the elements from the set                                                       |
| 3          | `copy()`                 | Returns a copy of the set                                                                   |
| 4          | `difference()`           | Returns a set containing the difference between two or more sets                            |
| 5          | `difference_update()`    | Removes the items in this set that are also included in another, specified set              |
| 6          | `discard()`              | Removes the specified item                                                                  |
| 7          | `intersection()`         | Returns a set that is the intersection of two other sets                                    |
| 8          | `intersection_update()`  | Removes the items in this set that are not present in other, specified set(s)               |
| 9          | `pop()`                  | Removes an element from the set                                                             |
| 10         | `remove()`               | Removes the specified element                                                               |
| 11         | `union()`                | Returns a set containing the union of sets                                                  |
| 12         | `update()`               | Updates the set with the union of this set and other                                        |

In [19]:
# add() Method

set1 = {"Apple","Ball","cat"}
print(set1)

set1.add("Doggy")
print(set1)

{'Ball', 'cat', 'Apple'}
{'Doggy', 'Ball', 'cat', 'Apple'}

In [31]:
# update() Method : It is used to update initial set with respect to another

initial = {"Pokemon","Doremon"}
another = {"Iron man","Thor"}
initial.update(another)

initial  # After Updation

{'Doremon', 'Iron man', 'Pokemon', 'Thor'}

In [42]:
# remove() & discard() Method
# It can remove only single element from set.

s1 = {"A","B","C",1,2,3}
s2 = {"E","F","G",4,5,6}

s1.remove("A")
print(s1)

s2.discard("E")
print(s1)

{2, 3, 1, 'B', 'C'}
{2, 3, 1, 'B', 'C'}

In [6]:
# pop() : 
# You can also use the pop() method to remove an item, but this method will remove a random 
# Item, so you cannot be sure what item that gets removed.
# The return value of the pop() method is the removed item.

s1 = {"A","B","C",1,2,3}
print(s1.pop())             # For randomness Kerenel restart is required.

s2 = {"E","F","G",4,5,6}
print(s2.pop())             # For randomness Kerenel restart is required.

print(s1)  # Poped items are removed form main s1
print(s2)  # Poped items are removed form main s2

1
F
{2, 3, 'A', 'C', 'B'}
{4, 'G', 5, 6, 'E'}

In [9]:
# clear() : Permanantly deletes the all set elments

s1 = {"A","B","C",1,2,3}
s1.clear()
print(s1)

set()

In [18]:
# del() : Permanantly deletes the all set elments along with it's variable allcation name.
s2 = {"E","F","G",4,5,6}
del(s2)

print(s2)  # Here s2 becomes undefined since s2 is deleted

NameError: name 's2' is not defined

In [28]:
# Joining or combinig of two sets.

# union()
s1 = {"A","B","C",1,2,3}
s2 = {"E","F","G",4,5,6}
s3 = {True,False}
s4 = {"Bat","Ball"}

print(s1.union(s2,s3,s4))  # We can union multiple set at a time.

# Alternative Method.

# The | operator only allows you to join sets with sets, and not with other data types like you can with the union() method.
print(s1|s2|s3)

{False, 1, 2, 3, 4, 'C', 'B', 'G', 5, 6, 'E', 'A', 'Ball', 'Bat', 'F'}
{False, 1, 2, 3, 4, 'C', 'B', 'G', 5, 6, 'E', 'A', 'F'}

In [43]:
# intersection() : Extracts the common elements

s1 = {"Aura", "B", "cat", 1, 2, 3}
s2 = {"E", "cat", "Aura", 4, 2, 6}
s3 = {True,False}
s4 = {"cat", "Ball", 2}

# Using intersection() method
print(s1.intersection(s2, s4))

# Alternative Method using the & operator
print(s1 & s2)

{'cat', 2}
{'cat', 'Aura', 2}

In [48]:
# intersection_update()

# The intersection_update() method will also keep ONLY the duplicates, but it will change the 
# original set instead of returning a new set.
# Keep the items that exist in both set1, and set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

set1 # It will update the initial set1 with intersected elements.

{'apple'}

{'apple'}

In [12]:
# difference() : 
# The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

set1 = {"apple", "banana", "cherry","facebook"}
set2 = {"google", "microsoft", "apple"}
set3 = {"Jayesh","cherry"}

print(set1.difference(set2,set3)) # can perform on multiple sets.

# ALTERNATIVE METHOD
# We can use the - operator instead of the difference() method, and you will get the same result.

set3 = set1 - set2 - set3
print(set3)

{'facebook', 'banana'}
{'facebook', 'banana'}

In [13]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [18]:
# difference_update() Method :
''' The difference_update() method will also keep the items from the first set that are not in the 
 other set, but it will change the original set instead of returning a new set.'''

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

print(set1)               # Before updation
set1.difference_update(set2)
print(set1)               # After updation

{'apple', 'banana', 'cherry'}
{'banana', 'cherry'}